[Desktop Entry]
Name=Bakaláři
Exec=/usr/bin/firefox https://gjk.bakalari.cz/login
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;
Icon=/usr/share/icons/bakalari.png
